body {
    margin: 0px;
}

#add-new-plan {
    color: #ffffff;
    text-decoration: none;
    font-size:30px;


    font-weight: 300;
    text-shadow: 1px 1px 1px #333;
}


#add-new-plan:hover {
    color: #bbbbbb;
}

#add-new-plan span {
    position: absolute;
    top: 30px;
}

#helps-container ul {
    list-style-type: none;
}

#helps-container li {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    float: left;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}

#helps-container li.title {
    font-weight: bold;
}

#helps-container li a {
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

#helps-container li a:hover{
    color: #ffffff;
    text-decoration: underline;
}

#helps-container {
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    overflow: hidden;
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    z-index: 100;
    color: white;
    padding-bottom: 10px;
}

/* Plan */
#plans-selector {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 80%;
    margin: 0px 10%;
    display: none;
    /*background-color: rgba(55,55,55,0.6);*/
    background-color: rgba(255,255,255,0.3);
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    padding: 20px;
    z-index: 999;
}

#plans-selector h1 {
    text-align: center;
    margin: 10px 0;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
}

#plans-selector h2 {
    text-align: center;
    margin: 10px 0;
    color: #333;
    font-weight: 300;
    font-size: 25px;
}

#plans-selector .plan-right {
    /*margin-left: 82px;*//* For the side circle*/
    margin-left: 0px;
}

#plans-selector .plan-container {
    padding-bottom: 18px;
}

.plan-container {
    clear: both;
}

.plan-right {
    margin-left: 70px;
}

.plan-right .inner-therm span {
    font-size: 15px;
    padding-right: 5px;
}

.plan-right .outer-therm {
    margin: 10px 0 0 0;
}

.plan-badge {
    float:left;
    width:65px;
    position: relative;
}

.circle img {
    position: relative;
    top: 15px;
    left: 13px;
}

.overlay-icon {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    right: -2px;
    display: none;
    width: 24px;
    height: 24px;
}

.verses-done-icon {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    right: -2px;
}

.plan-name {
    /*font-family: 'Lustria', serif;*/
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.plan-description {
    font-size: 14px;
    padding: 10px 0px;
}

.plan-meta {
    padding-left: 10px;
    color: #FFCC00;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#message {
    color: #FFF856;
    text-shadow: 1px 1px 1px #333;
    font-weight: 300;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0px auto 0 auto;
    padding-top: 15px;
}

#message a {
    color: #FFF856;
}

#message a:hover {
    color: #ffdb27;
}

.text-hidden:hover {
    text-shadow: 1px 1px 1px #333;
    color: #fff;
    background-color: transparent;
}

.text-hidden {
    background-color: #224bab;
    /*font-weight: bold;*/
    text-shadow: none;
    color:  #224bab;
}

#passages {
    font-size: 26px;
    color: white;
    text-align: center;
    width: 75%;
    margin: 70px auto 0 auto;
    text-shadow: 1px 1px 1px #333;
}

#passages.large {
    padding-top: 100px;
    font-size: 50px;
}

#passage-plan-name {
    color: #44c767;
    font-size: 30px;
    font-weight: bold;
}

#passages p {
    font-weight: 700;
}

#passages a {
    color: white;
}

.scripture {
    font-size: 14px;
    display: block;
}

#bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#bottom .plan-container {
    float: left;
    clear: none;
    width: 300px;
    height: 80px;
    margin-right: 8px;
}

#copyright { padding: 0px 5px; }

/* Left column */
#left-column {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
}

#left-column > div {
    margin-bottom: 20px;
}

.calBox {
    clear: both;
}

.verses-done-icon {
    display: none;
}

.plan-done-today {
    /*text-decoration: line-through;*/
}

#added-plans, #current-verses, completed-plans {
    font-size: 18px;
    color: white;
}

#added-plans {
    padding: 0 20px;
    overflow: hidden;
}

.maincontainer
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.20);
    background-attachment: fixed;
    width:      100%;
    height:     100%;
    top:        0;
    left:       0;
    z-index:    10;
    position:   absolute;

    /*width:      101%;*/
    /*height:     101%;*/
    /*top:        -8;*/
    /*left:       -8;*/
}

#finish-button, #reveal-button-container {
    display: none;
}

.myButton {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
    background-color:#5cbf2a;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButtonReveal {
    background-color: #4b62c7;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #224bab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButtonReveal:hover {
    background-color: #224bab;
}
.myButtonReveal:active {
    position:relative;
    top:1px;
}


.myButtonSmall {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:2px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButtonSmall:hover {
    background-color:#5cbf2a;
}
.myButtonSmal:active {
    position:relative;
    top:1px;
}

.myButtonSmallLink {
    color: #59EF0D;
    font-weight: bold;
}

.myButtonSmallLink:hover {
    color: #4b9522;
}

.debug {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.circle1, .circle-solid-1 { border: 2px solid #59ff5b; }
.circle-solid-1 { background-color: #59ff5b; }

.circle2, .circle-solid-2 { border: 2px solid #ff65f0; }
.circle-solid-2 { background-color: #ff65f0; }

.circle3, .circle-solid-3 { border: 2px solid #4e6ac3; }
.circle-solid-3 { background-color: #4e6ac3; }

.circle4, .circle-solid-4 { border: 2px solid #ffa496; }
.circle-solid-4 { background-color: #ffa496; }

.circle5, .circle-solid-5 { border: 2px solid #fffd33; }
.circle-solid-5 { background-color: #FFFD33; }

.circle6, .circle-solid-6 { border: 2px solid #88eeff; }
.circle-solid-6 { background-color: #88eeff; }

.circle7, .circle-solid-7 { border: 2px solid #eda400; }
.circle-solid-7 { background-color: #eda400; }

.circle8, .circle-solid-8 { border: 2px solid #79ff79; }
.circle-solid-8 { background-color: #79ff79; }

.circle9, .circle-solid-9 { border: 2px solid #b8a3ff; }
.circle-solid-9 { background-color: #b8a3ff; }

.circle10, .circle-solid-10 { border: 2px solid #ff2825; }
.circle-solid-10 { background-color: #ff2825; }

.circle11, .circle-solid-11 { border: 2px solid #bcf483; }
.circle-solid-11 { background-color: #bcf483; }

.circle12, .circle-solid-12 { border: 2px solid #d341ff; }
.circle-solid-12 { background-color: #d341ff; }

.circle .circle-inner {
    padding-top: 19px;
    font-size: 16px;
    padding-left: 9px;
    font-weight: bold;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
    transition: opacity 7s;
    opacity: 0.8;
}

.hidden { opacity: 0; }

.tick {
    font-size: 36px;
    position: relative;
    left: 16px;
    top: 8px;
}

#sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
}

.progress-circle {
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}

.progress-circle strong {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.progress-circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.progress-circle span {
    display: block;
    color: #333;
    margin-top: 5px;
}
